<app-navbar></app-navbar>

<div class="admin-container">
  
  <div class="admin-header">
    <h1> Panel de Control</h1>
    <p>Bienvenido, Administrador. Aquí tienes el control total.</p>
  </div>

  <div class="stats-grid" *ngIf="!isLoading">
    <div class="stat-card">
      <h3>{{ stats.totalUsers }}</h3>
      <span>Usuarios</span>
    </div>
    <div class="stat-card">
      <h3>{{ stats.totalTrips }}</h3>
      <span>Viajes Totales</span>
    </div>
  </div>

  <div *ngIf="isLoading" class="loading-state">
    <div class="spinner"></div> Cargando base de datos...
  </div>

  <div class="users-grid" *ngIf="!isLoading">
    
    <div class="user-card" *ngFor="let user of usersData">
      <div class="card-header" [class.is-admin]="user.role === 'admin'">
        <div class="avatar-circle">
          {{ user.userName.charAt(0).toUpperCase() }}
        </div>
        <div class="user-details">
          <h4>{{ user.userName }} <span *ngIf="user.role === 'admin'" class="badge-admin">ADMIN</span></h4>
          <small>{{ user.email }}</small>
        </div>
      </div>

      <div class="card-body">
        <h5>Viajes ({{ user.trips.length }})</h5>
        
        <div class="trips-mini-list">
          <div *ngIf="user.trips.length === 0" class="empty-trips">Sin viajes aún.</div>
          
          <div class="mini-trip" *ngFor="let trip of user.trips">
          <img [src]="trip.imageUrl || 'https://images.unsplash.com/photo-1488646953014-85cb44e25828?q=80&w=200&auto=format&fit=crop'" 
     class="trip-thumb"
     (error)="$any($event.target).src = 'https://ui-avatars.com/api/?name=' + trip.destination + '&background=random'">
            <div class="trip-text">
              <strong>{{ trip.destination }}</strong>
              <span>{{ trip.startDate | date:'dd/MM/yy' }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<app-footer></app-footer>