.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ocupa toda la altura de la pantalla */
  background-color: #f9fafb;
}

.main-content {
  flex: 1; /* Esto hace que el contenido empuje el footer hacia abajo */
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}